<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">EPICWALL</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="home"><a href="#">Home</a></li>
                    <li class="animations"><a href="#animations">Animations</a></li>
                    <li class="config"><a href="#config">Configuration</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="main"></div>
    <hr>
    <footer>
        <p>&copy; Atizo Labs 2012 \ v0.6</p>
    </footer>
</div>

