<div id="<%= model.get("layer") %>">
    
    <canvas class="preview"></canvas>
    
    <form class="">
        <div class="control-group">
        <select class="atypes animconf span2">
            <% _.each(model.get("atypes"), function(i) { %> <option <% if(model.get("atype")==i){ %>selected="selected"<% } %> ><%= i %></option><% }); %>
        </select>
        
        <select class="blend_modes animconf span2">
            <% _.each(model.get("blend_modes"), function(i) { %> <option <% if(model.get("blend_mode")==i){ %>selected="selected"<% } %> ><%= i %></option><% }); %>
        </select>
        </div>
        
        <label for="speed">Speed: <span class="speed-label">
        <%= model.get("speed") %></span></label><input value="<%= model.get("speed") %>" class="animconf" id="speed" type="range"  min="1" max="50" />
    </form>

</div>